body {
  margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightskyblue;
  font-weight: 300;
  font-size: 18px;
}

h3 {
  display: none;
}

img {
  position: relative;
  top: 50px;
  left: 120px;
}

#start-btn {
  background-color: black;
  color: white;
  height: 80px;
  width: 150px;
  font-size: 30px;
  position: absolute;
  left: 800px;
  top: 270px;
  border-radius: 10px;
}

p {
  margin-bottom: 15px;
  font-weight: 550;
  margin-right: 10px;
}

input {
  margin-bottom: 25px;
}

#show-timer {
  margin-bottom: 15px;
}

label {
  margin-left: 5px;
}

#submit-btn {
  height: 40px;
  width: 80px;
  margin-left: 30px;
  font-size: 15px;
  background-color: navy;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #start-img {
    display: none;
  }

  h3 {
    display: block;
    line-height: 1.5;
  }

  #start-btn {
    position: absolute;
    left: 40%;
    top: 10%;
    height: 40px;
    width: 75px;
    font-size: 15px;
    margin-top: 10px;
    background-color: navy;
  }
}
